{% extends "merge/base.html" %}
<html>
    <head>
         {% block title %}
        <title>about
            </title>
        {% endblock %}
    </head>
    <body>
<!--        this content is not in use currently-->
        <h1> About page</h1>
        <a class="btn btn-primary" href="/"> Go to Home Page</a>

        {% block content %}
        <h3>
            In this page we will write about how the style transfer works,
            and elaborate about the process for creating this functionality.
        </h3>
     {% endblock %}
    </body>
</html>